* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: peachpuff;
    border-bottom: 3px solid black;
    color: cadetblue;
    font-size: 20px;
}