<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Will I Be Delayed?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
</head>
<body>
    <div class="header">
        <div class="header-inner">
            <h1>Will I Be Delayed? &nbsp; Will I Be Delayed? &nbsp; Will I Be Delayed? &nbsp; Will I Be Delayed? &nbsp; Will I Be Delayed? &nbsp; Will I Be Delayed? &nbsp; Will I Be Delayed? &nbsp; Will I Be Delayed? &nbsp; Will I Be Delayed? &nbsp; Will I Be Delayed?</h1>
        </div>
    </div>

    <div class="navbar"> 
        {% if userID == 'Not logged in' %}
            <a href="{{ url_for('login') }}" class="login-btn">Login</a>
        {% else %}
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        {% endif %}
        <a href="/create_account" method="GET">Create an Account</a>
        <a href="/data_visualization" method="GET">View Our Data</a>
        <div class="nav-right">
            <p><b>User: {{userID}}</b></p>
        </div>
    </div>

    <div class="flashedMessageSection">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div class="content">
        <div class="left-section">
            <div class="formDropdown">
                <button class="formDropdownButton" id="dropdownMainButton" onmouseover="showDropdown()" onmouseout="hideDropdown()">
                    Predict My Delay <span class="arrow">&#9662;</span>
                </button>
                <div class="formDropdownContent" id="formSelect" onmouseover="showDropdown()" onmouseout="hideDropdown()">
                    <a href="#" class="dataForm" id="predictButton" form-type="predict" onclick="selectOption(this)">Predict My Delay</a>
                    <a href="#" class="dataForm" id="uploadButton" form-type="upload" onclick="selectOption(this)">Just Landed? Upload My Flight</a>
                    <a href="#" class="dataForm" id="editButton" form-type="edit" onclick="selectOption(this)">Edit My Uploaded Flights</a>
                    <a href="#" class="dataForm" id="deleteButton" form-type="delete" onclick="selectOption(this)">Delete An Uploaded Flight</a>
                </div>
            </div>

            <datalist id="airlines">
                {% for airline in airlines %}
                    <option value='{{airline}}'>
                {% endfor %}
                <option value="No Index Airline">
            </datalist>

            <!-- Predict your delay form -->
            <form class="dataInput active" id="predict" action="{{ url_for('home') }}" method="POST">
                <input type="hidden" name="form_type" value="predict_delay">
                
                <h3>Enter Your Flight Info to Get Our Prediction!</h3>
                
                <input list="airlines" id="airline" name="airline" required placeholder="Airline (e.g. United)">
    
                <input type="text" id="origin" maxlength="3" name="origin" required placeholder="Origin Airport (e.g. SFO) ">
                <input type="text" id="destination" maxlength="3" name="destination" required placeholder="Destination Airport (e.g. LAX)">

                <label for="flight_date"> Your Flight Date:</label>
                <input type="date" id="flight_date" name="flight_date" required>

                <button type="submit">Predict</button>
            </form>

            <!-- Input flight data form -->
            <form class="dataInput" id="upload" action="{{ url_for('home') }}" method="POST">
                <input type="hidden" name="form_type" value="upload_flight">
                {% if userID == 'Not logged in' %}
                    <p>Please log in to upload your flights.</p>
                {% else %}
                    <h3>Just Landed? Upload Your Flight</h3>
                    <input list="airlines" id="airline" name="airline" required placeholder="Airline (e.g. United)">
                    
                    <input type="text" id="origin" maxlength="3" name="origin" required placeholder="Origin Airport (e.g. SFO) ">

                    <input type="text" id="destination" maxlength="3" name="destination" required placeholder="Destination Airport (e.g. LAX)">

                    <label>Departure Date:</label>
                    <input type="date" name="departureDate" required>

                    <label>Enter Delay in Minutes:</label>
                    <input type="number" name="delayMinutes" required>

                    <button type="submit">Upload Data</button>
                {% endif %}
            </form>

            <div class="dataInput" id="edit">
                <h3>Edit Your Flights</h3>
                {% if userID == 'Not logged in' %}
                    <p>Please log in to view your flights.</p>
                {% else %}
                    {% if user_flights %}
                        <ul>
                            {% for flight in user_flights %}
                                <li>
                                    Flight ID: {{ flight.id }}, Airline: {{ flight.airline }}, Origin: {{ flight.origin }}, Destination: {{ flight.destination }}, Date: {{ flight.departure_date }}
                                    <form action="{{ url_for('home') }}" method="POST" style="display: inline;">
                                        <input type="hidden" name="form_type" value="edit_flight">
                                        <input type="hidden" name="flight_id" value="{{ flight.id }}">
                                        <label>Attribute to Edit:</label>
                                        <select name="attribute" id="attributeSelection" onchange="getInputType()">
                                            <option value="Airline">Airline</option>
                                            <option value="Origin">Origin</option>
                                            <option value="Destination">Destination</option>
                                            <option value="DepartureDate">Departure Date</option>
                                            <option value="DelayMinutes">Delay Minutes</option>
                                        </select>
                                        <label for="new_value">New Value:</label>
                                        <div id="editInputContainer" style="display: inline">
                                            <input list="airlines" id="airline" name="new_value" required placeholder="Airline (e.g. United)">
                                        </div>
                                        <button type="submit">Edit</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No flights found.</p>
                    {% endif %}
                {% endif %}
            </div>

            <!-- Delete an uploaded flights form -->
            <div class="dataInput" id="delete">
                <h3>Delete a Flight</h3>
                {% if userID == 'Not logged in' %}
                    <p>Please log in to view your flights.</p>
                {% else %}
                    {% if user_flights %}
                        <ul>
                            {% for flight in user_flights %}
                                <li>
                                    Flight ID: {{ flight.id }}, Airline: {{ flight.airline }}, Origin: {{ flight.origin }}, Destination: {{ flight.destination }}, Date: {{ flight.departure_date }}
                                    <form action="{{ url_for('home') }}" method="POST" style="display: inline;">
                                        <input type="hidden" name="form_type" value="delete_flight">
                                        <input type="hidden" name="flight_id" value="{{ flight.id }}">
                                        <button type="submit" class="deleteButton">
                                            Delete
                                        </button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No flights found.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="result-section">
            {% if result %}
                <h2>Your Results:</h2>
                <p class="result-text">{{ result | safe }}</p>
            {% else %}
                <h2>You’ll see your results here!</h2>
            {% endif %}
        </div>
    </div>

    <div class="footer">
        <p>***Will I Be Delayed is not responsible for any missed flight compensation.</p>
    </div>
</body>
</html>
