<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Will I Be Delayed?</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    </head>
    <body>
      <!-- <img src="{{url_for('static', filename='WIBD.png')}}"/> -->
      <div class="mainDiv">
        <div class="left-buttons">
          <a href="{{ url_for('login') }}" method="GET" class="btn login-btn">Login</a>
          <a href="{{ url_for('create_account') }}" method="GET" class="btn create-account-btn">Create Account</a>
        </div>
        <a href="{{ url_for('home') }}" method="GET" class="btn skip-btn">Skip</a>
      </div>
    </body>
</html>