<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Will I Be Delayed?</title>
        <link rel="stylesheet" href="../static/css/styles.css" />
    </head>
    <body>
        <div class="header">
            <h1>Will I Be Delayed?</h1>
        </div>
        <!-- Home navigation bar -->
        <div class="navbar"> 
            <a href="/login" method="GET">Login</a>
            <a href="/create_account" method="GET">Create an Account</a>
            <div class="nav-right">
                <p><b>User: {{current_user}}</b><p/>
            </div>
        </div>
        <br />
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <!-- Dropdown for choosing which form to use -->
        <div class="formDropdown">
            <button class="formDropdownButton">Dropdown v</button>
            <div class="formDropdownContent">
                <a href="#" class="dataForm" form-type="predict" onclick="showPredictionForm()">
                    Predict My Delay
                </a>
                <a href="#" class="dataForm" form-type="upload" onclick="showUploadForm()">
                    Just Landed? -- Upload My Flight
                </a>
                <a href="#" class="dataForm" form-type="edit" onclick="showEditForm()">
                    Edit My Uploaded Flights
                </a>
                <a href="#" class="dataForm" form-type="delete" onclick="showDeleteForm()">
                    Delete An Uploaded Flights
                </a>
            </div>
        </div>
        <!-- Predict your delay form -->
        <form class="dataInput" id="delayPrediction" action="/" method="POST">
            <input type="hidden" name="form_type" value="predict_delay">
            <div class="inputField">
                <p>Want to know if you'll be delayed? Enter your flight info and we'll give you a prediction:</p>
            </div>
            <div class="inputField">
                <!--<label for="airline"><b>Airline (do not abbreviate):</b></label>-->
                <input type="text" placeholder="Enter Airline" name="airline" required>
            </div>
            <div class="inputField">
                <!--<label for="origin"><b>Origin Airport:</b></label>-->
                <input type="text" placeholder="Enter Origin Airport" name="origin" required>
            </div>
            <div class="inputField">
                <!--<label for="pswd"><b>Destination Airport:</b></label>-->
                <input type="text" placeholder="Enter Destination Airport" name="destination" required>
            </div>
            <div>
                <button type="submit">Predict</button>
            </div>
        </form>
        <!-- Input flight data form -->
        <form class="dataInput" id="delayUpload" action="/" method="POST">
            <input type="hidden" name="form_type" value="upload_flight">
            <div class="inputField">
                <p>Want to know if you'll be delayed? Enter your flight info and we'll give you a prediction:</p>
            </div>
            <div class="inputField">
                <!--<label for="airline"><b>Airline (do not abbreviate):</b></label>-->
                <input type="text" placeholder="Enter Airline" name="airline" required>
            </div>
            <div class="inputField">
                <!--<label for="origin"><b>Origin Airport:</b></label>-->
                <input type="text" placeholder="Enter Origin Airport" name="origin" required>
            </div>
            <div class="inputField">
                <!--<label for="pswd"><b>Destination Airport:</b></label>-->
                <input type="text" placeholder="Enter Destination Airport" name="destination" required>
            </div>
            <div class="inputField">
                <!--<label for="pswd"><b>Destination Airport:</b></label>-->
                <input type="text" placeholder="Enter Departure Date" name="departureDate" required>
            </div>
            <div class="inputField">
                <!--<label for="pswd"><b>Destination Airport:</b></label>-->
                <input type="text" placeholder="Enter Delay in Minutes" name="delayMinutes" required>
            </div>
            <div>
                <button type="submit">Upload Data</button>
            </div>
        </form>
        <!-- Edit your uploaded flights form -->
        <form class="dataInput" id="delayEdit">
        </form>
        <!-- Delete an uploaded flights form -->
        <form class="dataInput" id="delayDelete">
        </form>
        <!--<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />-->
        <!-- Display the result if available -->
        {% if result %}
            <div class="result-section">
                <p><strong>Result:</strong> {{ result }}</p>
            </div>
        {% endif %}
        <p>***Will I Be Delayed is not responsible for any missed flight compensation.</p>
    </body>
</html>

<script>
function showPredictionForm() {
    document.getElementById('delayPrediction').style.display = "block";
    document.getElementById('delayUpload').style.display = "none";
    document.getElementById('delayEdit').style.display = "none";
    document.getElementById('delayDelete').style.display = "none";
}
    
function showUploadForm() {
    document.getElementById('delayPrediction').style.display = "none";
    document.getElementById('delayUpload').style.display = "block";
    document.getElementById('delayEdit').style.display = "none";
    document.getElementById('delayDelete').style.display = "none";
}
    
function showEditForm() {
    document.getElementById('delayPrediction').style.display = "none";
    document.getElementById('delayUpload').style.display = "none";
    document.getElementById('delayEdit').style.display = "block";
    document.getElementById('delayDelete').style.display = "none";
}
    
function showDeleteForm() {
    document.getElementById('delayPrediction').style.display = "none";
    document.getElementById('delayUpload').style.display = "none";
    document.getElementById('delayEdit').style.display = "none";
    document.getElementById('delayDelete').style.display = "block";
}
</script>
