<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WIBD Login</title>
        <link rel="stylesheet" href="../static/css/login.css" />
    </head>
    <body>
        <div class="header">
            <h1>Login To Your Account:</h1>
        </div>
        <div class="loginStuff">
            <form action="login.py" class="accountInfo">
                <label for="uname"><b>Username:</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
                <label for="pswd"><b>Password:</b></label>
                <input type="password" placeholder="Enter Password" name="pswd" required>
                <button type="submit">Login</button>
            </form>
            <form action="/templates/index.html" class="return">
                <button type="submit">Cancel</button>
            </form>
        </div>
    </body>
</html>